[2019-01-30 15:27] emlaver commented on #355
Closed by accident in #423.
#423 merged which added `get_query_result` example.

[2019-01-31 20:37] thesimj opened #424 "get_query_result wrong type for selector"
## Bug Description
Wrong parameter type description in docstring for function `get_query_result()`

### 1. Steps to reproduce and the simplest code sample possible to demonstrate the issue
Install library and use type hint in Pycharm 2018

### 2. What you expected to happen
Proper param description, like
[code]
### 3. What actually happened
[code]
## Environment details
Latest

[2019-01-31 20:45] emlaver commented on #424
@thesimj Thanks for spotting this.  I'll open up a PR with the change.

[2019-01-31 21:12] thesimj commented on #424
@emlaver your welcome, I found several more issue with argument type.

Add more correction in pull request https://github.com/cloudant/python-cloudant/pull/426

[2019-01-31 22:33] #424 closed

[2019-02-10 08:05] aogier opened #427 "document.Document context manager ignore exceptions"
## Bug Description

`document.Document` context manager ignores exceptions in inner block, making costly manual housekeeping/rollback necessary in case of errors. Using try/except blocks is indeed feasible but still expensive as I'd have to keep a pristine copy in memory (and I'd get a new `_rev` anyway because `save()` in `__exit__`).

### 1. Steps to reproduce and the simplest code sample possib

[2019-02-10 12:31] aogier opened #430 "dict methods (update, clear, pop*) breaks `_id` <-> '_document_id' internal logic"
## Bug Description

Not overriden dict methods are breaking Document class logic in regards to keep `_id` key in sync with `_document_id` class property. As this breaks my work I'm currently implementing a fix and to me the most sensible way is to completely remove this feature, using `_id` property when needed.
If I correctly understand the code, this is only used in cloudant.document module and

[2019-02-10 13:06] aogier commented on #430
Removing _document_id logic and staying DRY on `_id` works, tests passes and now every dict manipulation is inherently supported. I'd like to know what do you think! :)

[2019-02-10 17:31] aogier opened #431 "wrong unit test test_update_field_success_on_retry"
## Bug Description

Hi, I'd like to point out that `test_update_field_success_on_retry` uses a wrong mock implementation. In fact in order to invalidate test you could place a [fetch call](https://github.com/cloudant/python-cloudant/compare/master...aogier:feature/test_update_field_success_on_retry?expand=1#diff-5426ff62a320d421a5fdd141988a7eabR538) just before asserts, but the entire linked push

[2019-02-11 11:56] aogier commented on #431
the correct PoC commit is lost squashing. Anyway it is enough to add a `doc.fetch()` [before this line](https://github.com/cloudant/python-cloudant/blob/00b6cbb4e297477be214b7202d627bb99bc29223/tests/unit/document_tests.py#L534)

[2019-02-12 15:03] #431 closed

[2019-02-15 11:21] #430 closed

[2019-02-18 10:51] aogier commented on #427
solved in master

[2019-02-18 10:51] #427 closed

[2019-03-05 10:47] aogier opened #436 "proposal: a faster result iteration"
Please [read these guidelines](http://ibm.biz/cdt-issue-guide) before opening an issue.

## Bug Description

Iterating over a large dataset is sometimes slow. This is not a library disfunction but is related to how couchdb works, ie.

[code]

So this is inherently true for your library when using current `Result` class logic.
I've noticed that the different pagination approach [manual propose](htt

[2019-03-05 16:10] smithsz commented on #436
Hey, your proposal looks good. Would it be possible to amend the implementation slightly so that you get an extra result each time and use that to set the next `startkey`?

- set limit = self._page_size + 1
- run query
- return results in results[:-1] (all but last result)
- set last = results[-1]['key']
- repeat

(Obviously returning all results if it's the last page, i.e. `len(result) < limit`)

[2019-03-05 16:51] aogier commented on #436
ah sure you're right, dicts are passed by reference and user could change it when consuming generator!

Ok I can work on a real implementation, do you think this should become the default (only) behaviour or the limit/skip approach has to stay ? I'd personally go for the latter, since I'm constantly hitting this issue, even if as per [this couchdb bug](https://issues.apache.org/jira/browse/COUCHDB

[2019-03-06 09:41] smithsz commented on #436
PR looks good. I think we can make this the default behaviour. It should be a big performance improvement when iterating over a large result set.

[2019-03-06 10:30] aogier commented on #436
great! Thank you!

[2019-03-18 14:26] #436 closed

[2019-05-16 20:13] DanMan259 opened #446 "HTTP Error 404"
Please [read these guidelines](http://ibm.biz/cdt-issue-guide) before opening an issue.

## Bug Description
Keep getting HTTP Error 404 when trying to populate an instance. I have looked into a similar issue posted but I didn't seem to get a solution out of the issue post.

### 1. Steps to reproduce and the simplest code sample possible to demonstrate the issue
Here is a simplified version of my c

[2019-05-16 20:41] emlaver commented on #446
Hi @DanMan259, your database name contains characters that are not allowed (HTTP error code 400):
[code]
I'll review (and open a PR if needed) this in our code base and see what may need to be updated.

[2019-05-20 15:25] #446 closed

[2019-08-05 17:43] Lars opened #449 "Unable to access views on CouchDB"
I'm doing some dockerized code in Python (3.5) and flask (1.1.1) working against a CouchDB database (2.3.1) using the cloudant python extension (2.12.0).

I'm trying to fetch and use a view from the database, but it is not working. I can fetch documents, and work with the database normally, but I can't use the view.

I've added a print statement for the object that should hold the design document

[2019-08-05 20:22] emlaver commented on #449
Hello @Lars, you'll need to first fetch the design document from the server:
[code]
You can also use the recommended database helper method [`get_view_result`](https://github.com/cloudant/python-cloudant/blob/master/src/cloudant/database.py#L302).

[2019-08-05 23:01] Lars commented on #449
Thank you for your help, it is indeed, as you say.

[2019-08-05 23:01] #449 closed

[2019-09-03 08:47] FOGNE opened #450 "info"
Please [read these guidelines](http://ibm.biz/cdt-issue-guide) before opening an issue.

## Bug Description

### 1. Steps to reproduce and the simplest code sample possible to demonstrate the issue

### 2. What you expected to happen

### 3. What actually happened

## Environment details

[2019-09-03 09:59] smithsz commented on #450
I'm going to close this. Please complete the template and resubmit if required. Thanks.

[2019-09-03 09:59] #450 closed

[2019-09-04 15:17] BeOleg commented on #363
python 3.7 with the same issue here

[2019-09-05 09:30] ricellis commented on #363
@BeOleg there's nothing else we can do in python-cloudant to help with really long URLs, the  underlying Python issue is still unresolved https://bugs.python.org/issue32958

[2019-10-07 12:06] segevfiner opened #452 "Replicator create_target can't be used since you must pass a Database instance"
## Bug Description

`Replicator` supports creating a replication with `create_target`, but this can't actually be used as `target_db` only supports a database instance which means it must be an existing database.

### 2. What you expected to happen
That `Replicator` supports using `create_target` without pre-creating the database.

### 3. What actually happened
You can only pass it an already crea

[2019-10-09 11:12] bessbd commented on #452
Hi @segevfiner ,

Even though `Replicator` requires database instances, it does not mean those databases have to exist.
Consider the following example:
[code]

I'll go ahead and close this issue. Please reopen or create a new one if this answer does not help with your use case or if you need any further clarification.

[2019-10-09 11:12] #452 closed

[2019-10-24 08:24] SteinRobert opened #454 "Feature Proposal: Compaction"
Since this is not a bug, more a request/proposal I would be willing to help with, I hope it's okay this does not follow the issue template structure.

I did not find any method to trigger compaction for a database. Is there a reason for it? Do you think it would be worth implementing it? If yes, I'd be happy to help.

[2019-10-24 13:17] emlaver commented on #454
@SteinRobert adding the compaction endpoint is low on our priority.
You can use the session object to make requests against this endpoint.  For example:
[code]

[2019-11-25 15:06] schferbe commented on #387
I raised a PR now. Are the tests done automatically?

[2020-01-19 21:57] beadsland opened #456 "KeyError: 'id' on iterating over grouped view"
## Bug Description

### 1. Steps to reproduce and the simplest code sample possible to demonstrate the issue

### 2. What you expected to happen

Iterate over all grouped reductions.

### 3. What actually happened

Iterate over grouped reductions, followed by:

## Environment details
- Version(s) that are affected by this issue.

- Python version

### 4. Simple fix

Change the offending line to:

[2020-01-20 07:04] bessbd commented on #456
Hi @beadsland ,

Thank you for this bug report. Can you please provide a more complete steps to reproduce? I'm asking, because the following works for me:
[code]
where
[code]

[2020-03-21 14:24] ManfredEnning opened #461 "connection to couchdb server via ipv6 address does not work"
Please [read these guidelines](http://ibm.biz/cdt-issue-guide) before opening an issue.

## Bug Description
cloudant.couchdb does not work with ipv6 server addresses like
http://[fd78:3214:6290:d772::1:51]:5984

### 1. Steps to reproduce and the simplest code sample possible to demonstrate the issue

        with cloudant.couchdb('admin', '@@@', url='http://[fd78:3214:6290:d772::1:51]:5984') as db

[2020-03-23 13:19] emlaver commented on #461
@ManfredEnning thanks for catching this! We'll add it to our backlog.  Would you be interested in opening a PR?

[2020-04-10 13:55] olexandr-klymenko opened #462 "cloudant/_common_util.py:22: DeprecationWarning: Using or importing the ABCs from 'collections'"
Please [read these guidelines](http://ibm.biz/cdt-issue-guide) before opening an issue.

## Bug Description

### 1. Steps to reproduce and the simplest code sample possible to demonstrate the issue
1. Create a project with cloudant==2.12.0 as a dependency installed
2. Install pytest package.
3. Run test session

### 2. What you expected to happen
No warning messages during a test session

### 3. W

[2020-04-10 14:04] emlaver commented on #462
@olexandr-klymenko thanks for finding this! We will add this to our backlog and get it done as soon as possible.

[2020-04-14 07:42] ricellis commented on #462
This is a duplicate of #451

[2020-04-14 07:42] #462 closed

[2020-04-15 10:56] ricellis opened #464 "Intermittent follow_replication test failure"
Please [read these guidelines](http://ibm.biz/cdt-issue-guide) before opening an issue.

## Bug Description

### 1. Steps to reproduce and the simplest code sample possible to demonstrate the issue

Run `tests.unit.replicator_tests.ReplicatorTests.test_follow_replication`

### 2. What you expected to happen

Test to pass.

### 3. What actually happened

Test failed with:
[code]

## Environment det

[2020-04-20 11:50] YiuRULE opened #465 "create_database from CloudDB could silence some errors"
Please [read these guidelines](http://ibm.biz/cdt-issue-guide) before opening an issue.

## Bug Description

### 1. Steps to reproduce and the simplest code sample possible to demonstrate the issue
We should start at first a couchdb instance, with an `foo` user, and `bar` as password for an admin user,

[code]

### 2. What you expected to happen

`create_database` should launch an error than the c

[2020-04-20 12:37] bessbd commented on #465
Hi @YiuRULE ,

Thank you for this ticket!
According to the "environment details" section of the issue description, you are using "2.13.0".
However, https://github.com/cloudant/python-cloudant/pull/447/ is supposed to fix this issue  which was included with `2.13.0`. (FWIW, `2.13.0` was released 4 days ago - https://github.com/cloudant/python-cloudant/releases/tag/2.13.0 ).

Can you please confirm

[2020-04-21 03:29] YiuRULE commented on #465
Oh yes, probably messed up a bit with my test on my local environment, it was inded fixed on `2.13.0`

I will close the issue, thanks :)

[2020-04-21 03:29] #465 closed

[2020-04-21 06:51] bessbd commented on #465
I'm glad to hear this is solved now! Thanks for reporting the resolution and closing the ticket, @YiuRULE !

[2020-05-06 18:51] CodipherX opened #466 "Creating a Design Doc with partitioned = false still creates design doc with partitioned enabled"
Please [read these guidelines](http://ibm.biz/cdt-issue-guide) before opening an issue.

## Bug Description
I created a design document with following params:
ddoc = DesignDocument(db,"doc_id",partitioned=False)
However cloudant still created design doc with partitioned enabled in CouchDB

### 1. Steps to reproduce and the simplest code sample possible to demonstrate the issue

Create a design doc

[2020-05-06 20:22] emlaver commented on #466
Hi @CodipherX, I'm not witnessing this issue when I try to create a design document in either a non-partitioned or a partitioned database.
I also tried creating the design doc with and without the `partitioned=False` parameter and the response was what you'd expect to happen.
Environment:
Python: 3.7
python-cloudant: 2.13.0
Tried on both CouchDB 3.0.0 and Cloudant

[2020-05-06 21:00] CodipherX commented on #466
Hi @emlaver , I tried doing a dummy experiment again and got the same issue. The steps I followed are:
1. Create a **partitioned** database `foo` in CouchDB
2. Ran the following script:
[code]
3. Checked the design doc info in the couchDB and got the following:
[code]
The partition is coming as enabled as can be seen below:
![fauxton](https://user-images.githubusercontent.com/23528226/81227210-ad9

[2020-05-07 13:54] emlaver commented on #466
@CodipherX I can confirm that I'm seeing this issue as well.  Would you like to open up a PR with your fix?

[2020-05-07 15:18] CodipherX commented on #466
@emlaver Sure. I will open a PR soon.
Thanks

[2020-05-08 14:49] #466 closed

[2020-05-11 05:41] CodipherX opened #468 "create_query_index() failing on unpartitioned CouchDB database with message invalid_partitioned_option"
Please [read these guidelines](http://ibm.biz/cdt-issue-guide) before opening an issue.

## Bug Description
On trying to create query index in CouchDB 3.0.0, the request fails with an unpartitioned DB with message `HTTPError: 400 Client Error: Bad Request invalid_partitioned_option`
### 1. Steps to reproduce and the simplest code sample possible to demonstrate the issue

Execute the following code

[2020-05-11 14:01] bessbd commented on #468
Hi @CodipherX ,

Thank you for reporting this issue! According to https://docs.couchdb.org/en/stable/api/database/find.html#post--db-_index , `partitioned` is not optional so this seems to be a `python-cloudant` bug.
I'll open a PR for this soon.

[2020-05-14 11:31] #468 closed

[2020-05-14 11:32] bessbd commented on #468
Hi @CodipherX ,

I've just merged 14646b7 to master. Can you please verify that your issue is gone with that change?

[2020-05-19 08:45] CodipherX opened #472 "Support for configuring number of shards and replicas for a couch database"
Please [read these guidelines](http://ibm.biz/cdt-issue-guide) before opening an issue.

## Feature Request
From the source code, I found that it is not possible to use the cloudant to configure the shards and replica count of a database.
https://docs.couchdb.org/en/stable/cluster/sharding.html

I would like something as `couch_client.create_database(db_name, shards=3, replica=2, partitioned=False

[2020-05-19 08:59] bessbd commented on #472
Hi @CodipherX ,

Thank you for this feature request!
For `python-cloudant`, the primary purpose is allowing developers to interact with IBM Cloudant databases.
For IBM Cloudant, setting shard count and replicas is not enabled: https://cloud.ibm.com/docs/Cloudant?topic=cloudant-how-is-data-stored-in-ibm-cloudant-#setting-shard-count

I recommend using [Endpoint access](https://python-cloudant.readt

[2020-05-19 09:10] CodipherX opened #473 "use_index param in get_query_result and get_partitioned_query_result does not support list data"
Please [read these guidelines](http://ibm.biz/cdt-issue-guide) before opening an issue.

## Bug Description
As per https://docs.couchdb.org/en/stable/api/database/find.html#db-find , `use_index` could be either as `"<design_document>"` or `["<design_document>", "<index_name>"]`
However on putting a `list `in the `use_index` param, exception is thrown
### 1. Steps to reproduce and the simplest code

[2020-05-19 09:34] CodipherX commented on #472
Hi @bessbd ,

As of now, I have been using the Endpoint access. But it would be good to have this flexibility as part of `create_database()` function.
Please see if your team can accommodate this in the next major release.
Regards

[2020-05-19 10:15] bessbd commented on #473
Hi @CodipherX ,

The bug seems indeed valid: https://github.com/cloudant/python-cloudant/blob/14646b7c38caeceface6e2a35f94392356886b9f/src/cloudant/_common_util.py#L123 defines `use_index` as `STRTYPE` instead of `(STRTYPE, list)`.

Are you interested in opening a PR for this?

[2020-05-19 17:46] CodipherX commented on #473
Hi @bessbd ,
I will open a PR soon.

Thanks and regards

[2020-06-12 15:40] pozzolana93 opened #476 "Could not install package via pip"
Please [read these guidelines](http://ibm.biz/cdt-issue-guide) before opening an issue.

## Bug Description
When trying to install `python-cloudant` via pip, the installation fails:
[code]
Installing version 2.12.0 works fine.
### 1. Steps to reproduce and the simplest code sample possible to demonstrate the issue

On python 2.7 run `pip install cloudant`

### 2. What you expected to happen
The py

[2020-06-15 08:38] bessbd commented on #476
Hi @pozzolana93 ,

Thank you for this ticket!
According to https://www.python.org/doc/sunset-python-2/ , Python 2 is not supported since January 1, 2020.
Can you please try installing `python-cloudant` on a recent Python 3 version and confirm if the issue still persists?

Thank you,

Donat

[2020-08-11 16:31] pozzolana93 commented on #476
Hello,
sorry for the late reply. The installation works fine on Python 3, but unfortunately I need to work with Python 2. The problem should be easy to fix, it's just due to the `encoding` argument while opening the README file. If you prefer to drop support to Python 2, just remove the compatibility with Python 2 and I will continue to use version 2.12.0 of the library.

[2020-08-17 08:36] #476 closed

[2020-10-03 08:10] vdj69 opened #482 "Need help with couchDb replication to do the below use case in the best possible way"
Hi there!
I'm new to couchDB and need help to do the below use case in the best possible way:

**Use Case:** There will be a single database and in that database, there will be multiple multiple documents like:
1. Company document: Company document will contain the company-related information like companyName, isComanyEnabled, isBlackList, and etc.
2. User document: User document will contain the

[2020-10-03 18:39] Mradr opened #483 "A few questions"
Hello, I have a few questions.
1) Is there a way to talk directly to the database instead of the local cache? Some of my "documents" can be quite large in the upper  30-40MB of data with many entries. The problem is I am also using a class around the data for function base reasons. What would be the proper way to use the database without it loading all the data to local memory but still be able to

[2020-10-05 08:57] ricellis commented on #482
Hi @vdj69 - this (python-cloudant) library can control replication documents on the server (i.e. configuring server mediated replications) via the [`Replicator` class](https://python-cloudant.readthedocs.io/en/stable/replicator.html#cloudant.replicator.Replicator), but it does not have a sync capability. Cloudant has libraries for [iOS](https://github.com/cloudant/CDTDatastore) and [Android](https

[2020-10-05 10:49] ricellis commented on #483
There is some discussion in https://github.com/cloudant/python-cloudant/issues/411 about this and some options for keeping the cache at a smaller size.

We do have a new [Python SDK](https://github.com/IBM/cloudant-python-sdk/) (in beta) that does not have a dict cache layer and I'd recommend using that if you want to avoid the local cache approach entirely.

The most likely cause of this error is

[2020-10-05 17:26] vdj69 commented on #482
@ricellis : Thanks :)

[2020-10-05 17:26] #482 closed

[2020-10-16 09:24] ashishth09 opened #484 "Allow IAM token URL to be passed as an argument to Cloudant.iam"
Hello,

Today token url is fixed as 'https://iam.cloud.ibm.com/identity/token' or reads from an environment variable `IAM_TOKEN_URL`
We use IAM for more than just connecting to Cloudant and have run into an issue where for cloudant we need to be the default but for other services we need a test url.

I feel the library shouldn't make a decision of hard coding the environment variable deep inside,

[2020-10-16 13:57] emlaver commented on #484
Hi @ashishth09, so I understand correctly, other service SDKs use the `IAM_TOKEN_URL` env variable and that interferes when trying to run `python-cloudant` using the default IAM token URL?
If so, one option would be to unset the env varible programmatically (e.g. `del os.environ['IAM_TOKEN_URL']`) before running `python-cloudant`.

We also have a new openAPI generated library that will replace thi

[2020-10-21 01:25] Mradr opened #485 "Backing up"
I see there is a JS way of backing up the database - is there a way to backup the whole database as well using python-cloudant?

[2020-10-21 14:19] eiri commented on #485
Hi @Mradr,

It's not that there is a JS way of backing up a database per se, it's more that [our backup tool ](https://github.com/cloudant/couchbackup) is written in javascript and happened to provide API.

There is no build-in backup functionality in `python-cloudant`. If you just need a backup we recommend to use [couchbackup](https://github.com/cloudant/couchbackup) as CLI tool. If you looking

[2020-10-25 10:12] ashishth09 commented on #484
Hello @emlaver. Thanks,  can we start using that SDK in production?. I see some disclaimers on that repo.

[2020-10-26 10:19] vmatyusGitHub commented on #484
As the new `cloudant-python-sdk` is still beta, deployment in production is at your own risk. You are welcome to test the library and see if it meets your requirements for a production deployment, however there could be breaking changes introduced in the near future - currently I cannot tell how many - because based on the comments and issues that reported, its capabilities still extending.
It cou

[2020-11-01 00:15] cjauvin commented on #363
I stumbled on this problem with an Heroku app, with which I have a very long Redis URL with auth (using Python 3.9). I solved it using `urllib.parse.urlparse` to decompose the elements into the `redis.Redis` constructor.

[2020-11-02 09:14] mojito317 commented on #363
@cjauvin thank you for sharing the workaround you have figured out!

[2020-11-17 15:48] ricellis commented on #69
Closing, we do need it with the way we package currently.

[2020-11-17 15:48] #69 closed

[2020-11-17 16:31] ricellis commented on #173
Won't change. Our new [cloudant-python-sdk](https://github.com/IBM/cloudant-python-sdk/)(beta) uses a customized user agent on all requests.

[2020-11-17 16:31] #173 closed

[2020-11-17 16:45] #485 closed

[2020-11-17 16:49] ricellis commented on #484
We won't be changing this here. As discussed our new [cloudant-python-sdk](https://github.com/IBM/cloudant-python-sdk/)(beta) already has more options for setting IAM URLs.

[2020-11-17 16:49] #483 closed

[2020-11-17 16:56] ricellis commented on #473
Our new [cloudant-python-sdk](https://github.com/IBM/cloudant-python-sdk/)(beta) has the [array form of the API](https://cloud.ibm.com/apidocs/cloudant?code=python#postfind) allowing for both a design document or a design document and an index to be specified in `use_index`.

[2020-11-17 16:56] #473 closed

[2020-11-17 17:12] ricellis commented on #472
Our new [cloudant-python-sdk](https://github.com/IBM/cloudant-python-sdk/)(beta) makes the `q` [parameter available](https://cloud.ibm.com/apidocs/cloudant?code=python#putdatabase).

[2020-11-17 17:12] #472 closed

[2020-11-18 16:15] ricellis commented on #454
We're not adding new features here.
Our new [cloudant-python-sdk](https://github.com/IBM/cloudant-python-sdk/)(beta) also doesn't have a specific operation for calling compaction because [compaction is automatic](https://docs.couchdb.org/en/stable/maintenance/compaction.html#compact-auto) since [CouchDB 3.0.0](https://docs.couchdb.org/en/3.1.1/whatsnew/3.0.html#id1).

[2020-11-18 16:15] #454 closed

[2020-11-18 16:21] ricellis commented on #421
Closing as stale.

[2020-11-18 16:21] #421 closed

[2020-11-19 11:25] ricellis commented on #355
Closing, we're not making these kind of improvements here.

Our new [cloudant-python-sdk](https://github.com/IBM/cloudant-python-sdk/)(beta) has more extensive documentation and [comprehensive examples](https://cloud.ibm.com/apidocs/cloudant?code=python#introduction) for every supported operation.

[2020-11-19 11:25] #355 closed

[2020-11-19 11:30] ricellis commented on #353
Closing, we're not making these kind of improvements here any longer, but this is definitely a valid point which we've tried to address in our new SDK.

For our new [cloudant-python-sdk](https://github.com/IBM/cloudant-python-sdk/)(beta) we have [specific error handling documentation and examples](https://cloud.ibm.com/apidocs/cloudant?code=python#error-handling).

[2020-11-19 11:30] #353 closed

[2020-11-19 11:38] ricellis commented on #339
This was already fixed by #379 which added a `metadata()` function.

Our new [cloudant-python-sdk](https://github.com/IBM/cloudant-python-sdk/)(beta) has support for both:
* [`get_server_information()`](https://cloud.ibm.com/apidocs/cloudant?code=python#getserverinformation)
* [`get_up_information()`](https://cloud.ibm.com/apidocs/cloudant?code=python#getupinformation)

[2020-11-19 11:38] #339 closed

[2020-11-19 11:40] ricellis commented on #349
Won't fix.

[2020-11-19 11:40] #349 closed

[2020-11-19 12:09] ricellis commented on #211
We won't add this feature here.

Our new [cloudant-python-sdk](https://github.com/IBM/cloudant-python-sdk/)(beta) doesn't yet have async either. However, it is built on the https://github.com/IBM/python-sdk-core and we hope to get asynchronous operation via that eventually.

[2020-11-19 12:09] #211 closed

[2020-11-19 15:44] ricellis commented on #331
This is fixed in urllib3 1.26 which is usable by requests 2.25
this is in range for our requirements.txt so hopefully should get picked up with dependency upgrades.

[2020-11-19 15:44] #331 closed

[2020-11-19 15:47] ricellis commented on #241
We won't change this here.

Our new [cloudant-python-sdk](https://github.com/IBM/cloudant-python-sdk/)(beta) automatically connects and renews for the cases where the session cookie expires.

[2020-11-19 15:47] #241 closed

[2020-11-19 16:02] ricellis commented on #284
Won't fix here.

Our new [cloudant-python-sdk](https://github.com/IBM/cloudant-python-sdk/)(beta) can do [local docs](https://cloud.ibm.com/apidocs/cloudant?code=python#putlocaldocument).

[2020-11-19 16:02] #284 closed

[2020-11-19 19:19] ricellis commented on #296
We won't fix this here.

We're trying to add this in our new [cloudant-python-sdk](https://github.com/IBM/cloudant-python-sdk/)(beta) with the [`post_changes` operation](https://cloud.ibm.com/apidocs/cloudant?code=python#postchanges) but we're waiting on a server side fix for https://github.com/apache/couchdb/issues/3086.

[2020-11-19 19:19] #296 closed

[2020-11-19 23:36] ricellis commented on #310
Won't fix.

[2020-11-19 23:36] #310 closed

[2020-11-19 23:56] ricellis commented on #184
We're no longer doing enhancements here.

[2020-11-19 23:56] #184 closed

[2020-11-19 23:58] ricellis commented on #116
We're no longer doing enhancements here.

[2020-11-19 23:58] #116 closed

[2020-11-20 00:01] ricellis commented on #63
Won't fix. FWIW we sort of solved this problem in our new [cloudant-python-sdk](https://github.com/IBM/cloudant-python-sdk/)(beta) by using bump2version.

[2020-11-20 00:01] #63 closed

[2020-11-20 00:02] #80 closed

[2020-11-20 00:02] #131 closed

[2020-11-20 00:02] #114 closed

[2020-11-20 00:04] #70 closed

[2020-11-20 00:07] ricellis commented on #316
We're not doing any enhancements here. In our new [cloudant-python-sdk](https://github.com/IBM/cloudant-python-sdk/)(beta) there is currently no segregation between Couch/Cloudant functionality - if it is necessary to introduce that kind of API split then query functionality will definitely also be available to the Couch models.

[2020-11-20 00:07] #316 closed

[2020-11-20 00:11] ricellis commented on #67
We're not making enhancements here our new [cloudant-python-sdk](https://github.com/IBM/cloudant-python-sdk/)(beta) does not have the dict caching so these problems do not materialize there.

[2020-11-20 00:11] #67 closed

[2020-11-20 00:15] ricellis commented on #64
This has never been reported as a real problem in the field so hopefully it's good.

[2020-11-20 00:15] #64 closed

[2020-11-20 00:16] #88 closed

[2020-11-20 00:18] ricellis commented on #117
We're not doing any more enhancements here.

[2020-11-20 00:18] #117 closed

[2020-11-20 00:18] #128 closed

[2020-11-20 00:20] ricellis commented on #129
We're not doing enhancements here.

[2020-11-20 00:20] #129 closed

[2020-11-20 00:20] ricellis commented on #128
No longer doing enhancements here.

[2020-11-20 00:22] ricellis commented on #149
Not doing enhancements here. Currently our new [cloudant-python-sdk](https://github.com/IBM/cloudant-python-sdk/)(beta) doesn't have a changes follower, but we intend to add one that will have this restart functionality.

[2020-11-20 00:22] #149 closed

[2020-11-20 00:24] ricellis commented on #176
No longer doing enhancements here.

[2020-11-20 00:24] #176 closed

[2020-11-20 00:24] ricellis commented on #224
We're not doing enhancements here.

[2020-11-20 00:24] #224 closed

[2020-11-20 00:28] ricellis commented on #298
We're not doing enhancements here.

[2020-11-20 00:28] #298 closed

[2020-11-20 00:30] ricellis commented on #464
Looks like a timing change has exposed the `initializing` state that wasn't in the list of valid states (maybe it is a newer addition on the server side, maybe it was just missed out. Either way we should fix this so that we don't have intermittent failures blocking patch releases.

[2020-11-20 16:25] emlaver commented on #456
This issue can be reproduced when the amount of documents is greater than the page size.
Example using the code block above:
[code]
I'll open a PR to check that the `id` exists on line 400 in `cloudant/result.py`.

[2020-11-20 17:31] ricellis commented on #275
We're not doing ehancements here.
Our new [cloudant-python-sdk](https://github.com/IBM/cloudant-python-sdk/)(beta) has locking around session token exchanges to ensure a client instance shared between multiple threads uses the same token across all threads and obtains and renews it only once per session lifetime.

[2020-11-20 17:31] #275 closed

[2020-11-24 13:09] #464 closed

[2020-11-25 17:20] #456 closed

[2020-12-30 11:20] cbartz commented on #221
There are still occurences of ``json.dumps`` where the custom encoder is not used: [_common_util.py#L78](https://github.com/cloudant/python-cloudant/blob/f21e190976dfba19ec9b4127fafa9f78b8fb3732/src/cloudant/_common_util.py#L78)

I used the ``endkey`` parameter with a JSON array,  and this resulted in an error because the encoder is not passed in [_common_util.py#L252](https://github.com/cloudant/

[2021-01-27 13:40] normenczepa0815 commented on #363
yes i also can confirm, that urllib.parse is helpful, this is how it worked out for me

`messageData = {'text': 'lambda hook test'}
parseResult = urlparse(protocol+hook_url)
conn = http.client.HTTPSConnection(parseResult.netloc)
conn.request("POST", parseResult.path, json.dumps(messageData), headers)
response = conn.getresponse()
status = response.status
conn.close()

print("status:", status)`

[2021-02-10 18:23] DaniloOliveira28 opened #491 "ConnectionResetError: [Errno 104] Connection reset by peer"
## Bug Description
We are using the cloudant-python lib to handle our connections with our database. Randomly the code raises a ConnectionResetError.

### 1. Steps to reproduce and the simplest code sample possible to demonstrate the issue
I could not create a external scenario to reproduce it, but I will outline the context of the error scenario.

I have an code that make iterative calls to our c

[2021-02-11 09:03] mojito317 commented on #491
Hi @DaniloOliveira28!

Have you tried to put a `time.sleep(0.01)` before your request? [This answer](https://stackoverflow.com/a/383816) says that sometimes these types of errors can be corrected with a `time.sleep(0.01)`.

[2021-02-11 11:02] DaniloOliveira28 commented on #491
I have tried to pyt `time.sleep(0.01)` before the `get_view_result` method, but it does not work. The error still happening.

[2021-02-11 11:23] DaniloOliveira28 commented on #491
News about the error.

The error only happens if there is a big time gap between the calls to couchdb.
My scenario, in each iteration I call couchdb to get a specific doc. To avoid make many calls, I did a local cache (a dict with the keys and the response). I removed this cache, so now, every time couchdb is being called. In this scenario, the error did not happen.

[2021-02-11 11:50] DaniloOliveira28 commented on #491
In my case, the gap between the requests is ~ 410s

[2021-02-11 14:06] mojito317 commented on #491
If you are leaving connections idle longer than the server will keep them alive you need to disable HTTP keep-alive or handle the error and then retry the request.

You can probably disable the HTTP keep-alive by `client.r_session.keep_alive = False`, or with the `Connection: close` request header if `requests` does not overwrite that.

Another option would be to configure your server/proxy to kee

[2021-02-11 18:22] DaniloOliveira28 commented on #491
How can I know if I am leaving connections idle? I though that the python-cloudant or request would manage these kind of behaviours automatically.

[2021-02-11 22:35] DaniloOliveira28 commented on #491
@mojito317 I could fix it!

The error was happening because the server was killing our connection. To avoid it, we need to add the following header on the client.py.

![Captura de tela de 2021-02-11 19-34-30](https://user-images.githubusercontent.com/7645601/107707171-3d10a400-6ca0-11eb-95f0-e5c490431eb7.png)

What do you think of a PR to add a param on CouchDB class to allow the user decide if he

[2021-02-12 10:01] mojito317 commented on #491
I think there is no need to do that, since the `r_session` is already exposed to the user:
[code]

[2021-02-12 18:10] DaniloOliveira28 commented on #491
Ty mojito.

[2021-02-13 13:45] DaniloOliveira28 commented on #491
@mojito317 why the lib is overwriting the headers on bulk method? On the bulk save, we still getting Connection Reset errors...

https://github.com/cloudant/python-cloudant/blob/33781463ff85c8bb535bd6ede2049e4d3bec6c4c/src/cloudant/database.py#L789

[2021-02-13 16:47] #491 closed

[2021-03-30 12:32] yingshaoxo opened #493 "How can I get revisions? | How to get data back by using id and revision code?"
# How to get revisions
Here is the code:
[code]
For the above code, I could get the `revisions`:
[code]

But when I use `db["yingshaoxo"]`, I couldn't get `_revisions`, where is the problem, guys?
[code]

# How to get data back by using `_id` and  one element that comes from the `_reversions`?
This is essential if we want to recover some data from the history records.

[2021-04-01 02:59] yingshaoxo commented on #493
Alright, thank you for the answer.

[2021-04-01 02:59] #493 closed

[2021-04-16 19:56] rajahaidar opened #494 "Querying a view with a boolean type key raises a CloudantArgumentError"
## Bug Description

### 1. Steps to reproduce and the simplest code sample possible to demonstrate the issue

Create a cloudant database view, and attempt to query the view using the python-cloudant library as follows:
[code]
The above code will raise a CloudantArgumentError due to the validation on this line https://github.com/cloudant/python-cloudant/blob/33781463ff85c8bb535bd6ede2049e4d3bec6c4c

[2021-04-16 19:59] rajahaidar commented on #494
Please let me know if you would like me to submit a PR with a fix for this

[2021-04-16 20:40] emlaver commented on #494
Hi @rajahaidar thanks for bringing this to our attention.  Yes, please open a PR that includes the fix and a test case.

[2021-04-20 04:16] Mradr opened #495 "Some how I am getting a weakreference"
More of a general question. Looks like calling dict( object ) or { **object } still keeps weakreference or a reference back to the document object. I was wondering, what is the proper method to copy the data without it updating back to the document object so changes do not effect the original object?

[2021-04-20 14:27] eiri commented on #495
In general using `deepcopy` from [copy lib](https://docs.python.org/3/library/copy.html) seems to be a way to dealing with collections that are mutable or contain mutable items.

For general python questions I'd suggest to use knowledge forums like https://stackoverflow.com, you'll get much more complete answers there, and reserve this repo's issues for technical queries specific to `python-clouda

[2021-04-20 14:27] #495 closed

[2021-04-27 06:33] Mradr opened #496 "Datetime object"
How to deal with time objects?

with Document( self.app.master_database["something"], id, encoder=DateTimeEncoder, decoder=DateTimeDecoder ) as document:
    val = document["created_on"].strftime("%Y-%m-%d %H:%M:%S")

AttributeError: 'dict' object has no attribute 'strftime'

So it looks like it is not decoding correctly on the object? As for the decoder I am just using the basic json one and look

[2021-04-27 12:56] vmatyusGitHub commented on #496
Please consider, that the `document` variable in your sample code has type `cloudant.document.Document` from `cloudant` package. This dict could have multiple fields and it is not equivalent with the `datetime` typed object from `datetime` module. The `strftime` function can be applied only on a `datetime.datetime` typed object.
An object type can be checked with `type()` function.

In your sample

[2021-04-27 13:24] Mradr commented on #496
The example url is what I am using. It does not work with the above code.

[2021-04-29 13:29] vmatyusGitHub commented on #496
No, there is no bug, a custom decoder can be attached to the document handling and it will be applied on the JSON content after the content is fetched:
https://github.com/cloudant/python-cloudant/blob/33781463ff85c8bb535bd6ede2049e4d3bec6c4c/src/cloudant/document.py#L167

The [DateTimeEncoder](https://gist.github.com/abhinav-upadhyay/5300137) encodes Python `datetime` object as `dict`. If you don'

[2021-05-27 20:35] othmanechentouf opened #499 "Error 403 when trying to access couchDB server that uses SSL certificate."
Hello,
I'm trying to connect to a remote couchDB server, this server uses a SSL certificate which I installed correctly on my mac and I can access the server via my browser.
When I try to connect to the server via python-cloudant, I get an error, here's the code :

[code]

and here's the error I get :

[code]

I can't figure out a way around it, another thing is when I point requests directly to t

[2021-05-27 20:59] emlaver commented on #499
Hello @othmanechentouf, there's some helpful info [mentioned in another issue](https://github.com/cloudant/python-cloudant/issues/381#issuecomment-387341031):

I believe you'll want to set the `REQUESTS_CA_BUNDLE` env variable and set the `verify` attribute on the client's `r_session`:
[code]

[2021-05-28 08:42] othmanechentouf commented on #499
Hello @emlaver, thank you for your response.
the code you pointed out is giving me this error :
[code]
This is cause this line of code :

[code]
is returning an empty object.
I've set the ```REQUESTS_CA_BUNDLE``` variable to point here ```/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/certifi/cacert.pem```, I'm not sure where the problem is coming from.

[2021-05-29 14:08] othmanechentouf commented on #499
@emlaver It didn't work, but I found a solution for that as it might be helpful for someone else.

You have to install a package called ```requests_pkcs12```, which allows you to create an adapter to use within the Cloudant/CouchDB function. This adapter takes the certificate file and its password as arguments, and then you pass the adapter as an argument when calling Cloudant/CouchDB. Here's the

[2021-05-31 11:45] #499 closed

[2021-06-17 09:00] #496 closed

[2021-06-21 07:48] #494 closed

[2021-08-04 14:10] paketep opened #506 "Getting HTTPError instead of KeyError"
## Bug Description

When I work with a document that is deleted in the background by another process, I expect to get a KeyError either when I access it as a dictionary, or when I do fetch. I get a 404 HTTPError.

What's worse, if I do `id in DB`, it still says True

### 1. Steps to reproduce and the simplest code sample possible to demonstrate the issue
[code]

### 2. What you expected to happen

[2021-08-04 15:08] ricellis commented on #506
Calling `fetch` explicitly asks the remote server for the document - so the `HttpError 404` is the expected response as the document is now deleted on the server.

The statements:
[code]
are correct even after the remote deletion occurs because they are operating on the local dict which still contains a previous revision of the document (i.e. the local cache knows nothing of the remote update/dele

[2021-08-04 15:42] paketep commented on #506
I'll take a look at that, thanks

[2022-01-17 11:21] ricellis commented on #461
Closing; this library is now EOL.
IPv6 addresses work correctly in our replacement [cloudant-python-sdk](https://github.com/IBM/cloudant-python-sdk/).

[2022-01-17 11:21] #461 closed